<% @page_title = 'Dashboard' %>

<section id="widget-grid">
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-8">
      <%= render_widget 'popular_classes' %>
      <%= render_widget 'wishlist' %>
      <%# render_widget 'document_centre' %>
      <%# render_widget 'reports/class_list' %>
      <%# render_widget 'reports/program_status' %>
      <%# render_widget 'reports/gl_inquiry' %>
      <%# render_widget 'reports/auto_update_chart' %>
      <%# render_widget 'calendar' %>
      <%# render_widget 'map' %>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-4">
      <%# render_widget 'reports/donut_graph' %>
      <%# render_widget 'reports/pie_chart' %>
      <%# render_widget 'reports/horizontal_bar_chart' %>
    </article>
  </div>
</section>
