<header>
  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
  <h2> Top Facilities by Usage </h2>
</header>

<!-- widget div-->
<div>
  <!-- widget edit box -->
  <div class="jarviswidget-editbox">
    <!-- This area used as dropdown edit box -->
  </div>
  <!-- end widget edit box -->

  <!-- widget content -->
  <div class="widget-body no-padding">
    <div id="bar-chart-h" class="chart"></div>
  </div>
  <!-- end widget content -->

</div>
