<%
###
 # Clickable Edit Button
 #
 # @param 'title'    title for the edit button to trigger with.
 #
 # @author Adrian Estergaard <theturtlemoves@gmail.com>
###
%>

<div class='jarviswidget-ctrls' role='menu'>
  <a href='#' rel='tooltip' title='' data-placement='bottom' data-original-title='Edit'>
    <span class='form-edit-button'  data-form='<%= title %>'>
      <i class='fa fa-fw fa-edit txt-color-grey'></i>
    </span>
  </a>
</div>
