<div class="row enter-comments hidden-field-area" id="facility-enter-comments" style="display: none;">
  <div class="col-sm-8 col-xs-12">
    <div class="responsive-box-md">
      <textarea rows="2" cols="22" name="comment" placeholder="comments here" style="margin-top:5px;" ></textarea>
    </div>

    <div class="responsive-box-lg" style="margin-left:-14px;">
      <div class="alert alert-success alert-block confirmation-message">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <p> <i class="fa fa-check fa-2x"></i>Comments submitted successfully. </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <button type='submit' class='btn btn-primary btn-sm add-comment' data-unexpands="#facility-enter-comments">Update</button>
  </div>
</div>
