<header>
  <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
  <h2> Map / Parks / Facilities / Trails </h2>
</header>

<div>
  <!-- widget edit box -->
  <div class="jarviswidget-editbox">
    <!-- This area used as dropdown edit box -->
  </div>
  <!-- end widget edit box -->
  <div class="widget-body widget-hide-overflow no-padding">
    <!-- widget content -->
    <div class="widget-body no-padding">
      <div class="panel-body well">
        <div class="row top-10">
          <div class="col-sm-12 col-xs-8 col-xs-offset-0">
            <div id="map_canvas" class="google_maps" gmap-data-lat="48.438644" data-gmap-lng="-123.336072" data-gmap-zoom="12" data-gmap-src="<%= facilities_url format: :xml %>">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end widget content -->
  </div>
</div>
