<!-- Popular Classes -->
<header>
  <%= render partial: 'shared/edit_button', locals: { title: 'popular_classes' } %>
  <span class="widget-icon"> <i class="fa fa-search txt-color-white"></i> </span>
  <h2> Popular Classes </h2>
</header>

<!-- widget div-->
<div>
  <div class="widget-body widget-hide-overflow no-padding">
    <!-- content goes here -->
    <div class="widget-body no-padding">
      <div class="panel-body well">
        <!--  <img src="img/ribbon.png"> -->
        <h3>The most popular classes based on ratings</h3>
        <table id="popular-classes" class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
          <tr>
            <th>Class Name</th>
            <th>Note</th>
            <th>Actions</th>
          </tr>
          <tr>
            <td>Soccer</td>
            <td>Soccer level1</td>
            <td class="popular-actions" >
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-thumbs-up" title="like it"></i></a>
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-thumbs-o-down" title="Dislike it"></i></a>
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-plus" title="Add to wishlist"></i></a>
            </td>
          </tr>
          <tr>
            <td>Express Workout</td>
            <td>A fat loss program geared for everyone. </td>
            <td  class="popular-actions" >
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-thumbs-up" title="like it"></i></a>
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-thumbs-o-down" title="Dislike it"></i></a>
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-plus" title="Add to wishlist"></i></a>
            </td>
          </tr>
          <tr>
            <td>Zumba</td>
            <td> Zumba is a "feel happy" workout that is great for both the body and mind</td>
            <td class="popular-actions">
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-thumbs-up" title="like it"></i></a>
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-thumbs-o-down" title="Dislike it"></i></a>
              <a href="#" class="btn btn-default btn-circle"><i class="fa fa-plus" title="Add to wishlist"></i></a>
            </td>
          </tr>
        </table>
        <!-- Hidden Update Button Row -->
        <%= render partial: 'shared/edit_row', locals: { title: 'popular_classes' } %>

      </div>
      <!-- end of panel-body -->
    </div>
    <!-- end widget-body -->
  </div>
</div>
<!-- end of popular classes widget -->
