<section id="widget-grid">
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-8">
      <%= render partial: 'widgets/wishlist' %>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-4">
      <%= render partial: 'widgets/carousel' %>
      <%= render partial: 'widgets/discount_codes' %>
    </article>
  </div>
</section>
