<div class="row">
  <div class="col-sm-12 col-xs-12">
    <!-- hidden search header -->
    <div class="hidden-search-bits">
      <!-- search results header -->
      <div class="row" id="search-results-header">
        <div class="col-xs-4">
          Current Matches
        </div>
        <div class="col-xs-3 col-xs-offset-5">
          Sort by:
          <select id="search-sort">
            <option value="Name">Name</option>
            <option value="Rating">Rating</option>
            <option value="Capacity">Capacity</option>
            <option value="Date">Start Date</option>
            <option value="Price">Price</option>
            <option value="Location">Location</option>
          </select>
        </div>
      </div>
      <!-- end search results header -->
    </div>
    <!-- end hidden search header -->

    <!-- hidden search results -->
    <div class="hidden-search-bits well">
<!-- function printSearchRow($type, array $names, $cost, $capacity, $rating) { -->


    </div>
    <!-- end hidden search results -->

  </div>
</div>
